<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>User Registration</h1>
                    <h5>Feel free to Register with us</h5><hr>
                </div>
                <form [formGroup]="signupForm" (ngSubmit)="signup()">
                    <div class="mb-3">
                      <label class="form-label">Name</label>
                      <input type="text" formControlName="name" placeholder="Enter ypur Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mobile No.</label>
                        <input type="text" formControlName="mobile" placeholder="Enter Mobile No." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input type="email" formControlName="email" placeholder="Enter Email Id" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" formControlName="password" placeholder="Enter Your Password" class="form-control" id="exampleInputPassword1">
                    </div> 
                    <button type="submit" class="btn btn-primary">Signup</button>
                  </form>
                  <a style="color:blueviolet; margin-top:10px;" routerLink="/login">Returning User ? Click Here to Login</a>
                  
            </div>
        </div>
    </div>
</div>